@import "libs/bootstrap-reboot.min";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "base/variables";
@import "base/mixins";
@font-face {
	font-family: "Liberation Serif";
	src: url("../fonts/LiberationSerif-Regular.ttf");
	font-weight: normal;
}

* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 1320px;
	margin: 0 auto;
}

.divider {
	height: 1px;
	background: #BDBDBD;
}

@import "blocks/headerfree";
@import "blocks/mainpage";
@import "blocks/opinion";
@import "blocks/natural";
@import "blocks/aperetifs";
@import "blocks/easyDrink";
@import "blocks/quotes";