.production {
	&__wrapper {
		margin-top: 61px;
		display: flex;
		justify-content: space-between;
	}
	&__img {
		img {
			max-width: 550px;
		}
	}
	&__advanteges {
		max-width: 660px;
		&-text {
			font-family: "Liberation Serif";
			font-style: normal;
			font-weight: 400;
			font-size: 64px;
			line-height: 80px;
			color: #000000;
		}
		&-descr {
			margin-top: 154px;
			font-weight: 400;
			font-size: 18px;
			line-height: 32px;
			color: #000000;
		}
		&-learn {
			margin-top: 35px;
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #000000;
		}
	}
}
